
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    height: 200vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1494011484127-649ce230149c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=747&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Shadows Into Light', cursive;
}
.wrapper {
    margin-top: 10%;
    /* margin: 0 auto;
    padding: 0 3rem;
    margin-top: 4rem;
    text-align: justify; */
}
.wrapper h1{
    font-size: 52px;
    color:aliceblue;
    margin-bottom: 60px;
    text-align: center;
}

.Squad{
    display: flex;
    text-align: center;
    width: 70vw;
    justify-content: space-around;
    font-size: 1000px;
    flex-wrap: wrap;
    

    
}
.team_members{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: rgba(0, 0, 0, 0.212);
    margin: 2px;
    margin-bottom: 20px;
    width: 300px;
    padding: 5px;
    height: 350px;
    border-radius: 25%;
    

}
.team_members h3{
    color:aliceblue;
}
.container{
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.container img{
    border: 1px solid #2193b0;
    padding: 0px; 
    border-radius: 50%;
    transition: .5%;
    width: 100px;
    height: 100px;
}
.container img:hover{
    box-shadow: 0px 0px 20px #2193b0;
}





p {
    font-size: 1rem;
    color:aliceblue;
    /* line-height: 0rem; */
}


