body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container-fluid{
    width: 100%;
    height: 100vh;
    /* background-image: url(/gangGreenProject/images/event/Screen\ Shot\ 2021-05-16\ at\ 2.34.24\ PM.png); */
    background-size: cover;
}

.leftbox{
width: 50%;
height: 100%;
float: left;
padding: 50px;
box-sizing: border-box;
}

.leftbox .content{
    color: white;
    background: rgba(0,0,0,0.5);
    position: 40px;
    transition: .5s;
}

.leftbox .content :hover{
    background: #e91e63;
}

.leftbox .content h1{
    margin: 0;
    padding: 0;
    font-size: 50px;
    text-transform: uppercase;
}

.leftbox .content p{
    margin: 10px 0 0;
    padding: 0;
}

.events{
    position: relative;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    float: right;
    box-sizing: border-box;
}

.events ul{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 40px;
    box-sizing: border-box;
}

.events ul li{
    list-style: none;
    background: #ffff;
    box-sizing: border-box;
    height: 200px;
    margin: 15px 0;
}

.events .time{
    position: relative;
    padding: 20px;
    background: #262626;
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    transition: 5s;
}

.events .time:hover{
    background: #e91e63;
}

.events .time h2{
    position:absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffff;
    font-size: 60px;
}

.events .time h2 span{
    font-size: 30px;
}

.events .details{
    padding: 20px;
    background: #ffff;
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    float: left;
}

.events .details h3{
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.events .details h3 p{
    position: relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 16px;
}

.events .details h3 p a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
    border: 2px solid #262626;
    margin-top: 15px;
    font-size: 18px;
    transition: .5s;
    float: right;
}

