#IntroVid{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    pointer-events: none;
}
.button {
    color: whitesmoke;
    font: bold 11px Helvetica;
  text-decoration:dodgerblue;
  /* color: #333333; */
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
    
}

#textLayer{
    color: whitesmoke;
    letter-spacing: 5px;
    font-family: Helvetica;
    font-style: oblique ;
    font-weight: bolder;
}