body {
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1525876902033-8da51fbe1e59?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzI4fHxiYXNrZXRiYWxsJTIwY291cnRzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60);
    backdrop-filter: blur(4px);
    background-position: center;
    background-size: cover;
    opacity: 300px;

} 

.tabs{
margin-top:50px;
font-size:15px;
padding:0px;
list-style:none;
background:#fff;
box-shadow:0px 5px 20px rgba(0,0,0,0.1);
border-radius:50px;
width: 100%;
}

.tabs a{
text-decoration:none;
color: #777;
text-transform:uppercase;
padding:10px 20px;
display:inline-block;
position:relative;
z-index:1;
transition-duration:0.6s;
}
.tabs a.active{
color:#fff;
}
.tabs a i{
margin-right:5px;
}
.tabs .selector{

  height:100%;
  display:inline-block;
  position:absolute;
  left:0px;
  top:0px;
  z-index:1;
  border-radius:50px;
  transition-duration:0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  
  background: #05abe0;
  background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
  background: -webkit-linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  background: linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  filter:hue-rotate()( startColorstr='#05abe0', endColorstr='#8200f4',GradientType=1);
}

.containerHeight{
  height: 600px;
  margin: 2%;
  overflow:hidden;
  
} 

img{
  height: 100%;
  width: 100%;
}



.leftbox{
height: 100%;
padding: 50px;
box-sizing: border-box;
text-align: center;
}


.leftbox .content{
  color: white;
  background: rgba(0,0,0,0.5);
  transition: .5s;
}

.leftbox .content :hover{
  background: #e91e63;
}

.leftbox .content h1{
  margin: 0;
  padding: 0;
  font-size: 50px;
  text-transform: uppercase;
}

.leftbox .content p{
  margin: 10px 0 0;
  padding: 0;
}

.events{
  margin: -1%;
  padding-top: 70%; 
  height: 100px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: scroll; 
}

.events ul{
  /* position: fixed;  */
  /* top: 100px; */
  transform: translateY(-50%);
  margin: 0;
  padding: 40px;
  box-sizing: border-box;
  /* overflow-y: scroll;  */
}

.events ul li{
  list-style: none;
  background:#ffff;
  box-sizing: border-box;
  height: 200px;
  margin: 14px 0;
}

.events .time{
  position: relative;
  padding: 20px;
  background: #262626;
  box-sizing: border-box;
  width: 30%;
  height: 100%;
  float: left;
  text-align: center;
  transition: 5s;
}

.events .time:hover{
  background: #e91e63;
}

.events .time h2{
  position:absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #ffff;
  font-size: 60px;
}

.events .time h2 span{
  font-size: 30px;
}

.events .details{
  padding: 20px;
  background: #ffff;
  box-sizing: border-box;
  width: 600px;
  height: 100%;
  
}

.events .details h3{
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 22px;
}

.events .details h3 p{
  /* position: relative; */
  margin: 10px 0 0;
  padding: 0;
  font-size: 16px;
}

.events .details a{
  /* display: inline-block;  */
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 2px solid #262626;
  /* margin-top: 1px; */
  font-size: 18px;
  transition: .5s;
  float: right; 
}

.events .details a:hover{
  background: #e91e63;
  color: #ffff;
  border-color: #e91e63;
}



