

body {
    height: 100vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: flex-start;
    background-image: url(https://images.unsplash.com/photo-1525876902033-8da51fbe1e59?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzI4fHxiYXNrZXRiYWxsJTIwY291cnRzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60);
    backdrop-filter: blur(4px);
    background-position: center;
    background-size: cover;
    opacity: 300px;

}

@import url('https://fonts.googleapis.com/css?family=Roboto');

/* body{
  height:100vh;
  display:flex;
  flex-direction:row-reverse;
  justify-content:left;
  align-items:flex-start;
  font-family: 'Roboto', sans-serif;
} */

/* h2{
  margin:10px;
  text-transform: uppercase;
}

h6{
  margin:0px;
  color:rgb(12, 10, 10);
} */

/* .wrapper{
  text-align:inherit;
  margin:top;
  position: top;
 
} */

.tabs{
  margin-top:50px;
  font-size:15px;
  padding:0px;
  list-style:none;
  background:#fff;
  box-shadow:0px 5px 20px rgba(0,0,0,0.1);
  display:inline-block;
  border-radius:50px;
  width: 100%;
}

.tabs a{
  text-decoration:none;
  color: #777;
  text-transform:uppercase;
  padding:10px 20px;
  display:inline-block;
  position:relative;
  z-index:1;
  transition-duration:0.6s;
}

.tabs a.active{
  color:#fff;
}

.tabs a i{
  margin-right:5px;
}

.tabs .selector{
  height:100%;
  display:inline-block;
  position:absolute;
  left:0px;
  top:0px;
  z-index:1;
  border-radius:50px;
  transition-duration:0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  
  background: #05abe0;
  background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
  background: -webkit-linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  background: linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#8200f4',GradientType=1 );
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.row{
  /* flex-wrap:initial; */
  /* justify-content: space-between; */
}

.cardImg{
  height: 100%;
}

.flip-card {
  /* background-color: transparent; */
  justify-self: self-start;
  width: 300px;
  height: 300px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; Remove this if you don't want the 3D effect
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(540deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 60%;
  height: 80%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  /* background-image: url("/gan/gGreenProject/images/celtics logo.png"); */
  background-position: center;
  color: black;
}

/* Style the back side */
.flip-card-back {
  margin-left: 40px;
  /* background-color: black; */
  background: rgba(0, 0, 0, 0.7);
  color: dodgerblue;
  transform: rotateY(180deg);
}

